/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
	scroll-padding-top: 2rem;
	font-family: 'Poppins', sans-serif;
}
:root {
	--color-primary: #95deff;
	--color-secondary: #bc244a;
	--color-tertiary: #750037;
	--color-quaternary: #004b6b;
	--color-quinery: #052240;
}

body {
	background: var(--color-quinery);
	color: var(--color-primary);
	padding: 2.5% 10%;
}

header {
	display: flex;
	justify-content: space-between;
}

header .navbar {
	display: flex;
	width: 20%;
	justify-content: space-around;
}

header a {
	color: var(--color-primary);
	text-decoration: none;
}

header a:hover {
	text-shadow: 1px 1px #004b6b, 2px 2px #004b6b, 3px 3px #004b6b,
		4px 4px #004b6b, 4px 4px 5px rgba(0, 0, 0, 0.5);
	transition: 100ms ease-in;
}

header .links {
	display: flex;
	width: 15%;
	justify-content: space-around;
}
